.MuiDataGrid-cell:focus {
  outline: none!important;
}
.MuiDataGrid-columnHeader:focus {
  outline: none!important;
}

.MuiDataGrid-columnHeader:focus-within {
  outline: none!important;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  font-size: 18px;
}

svg.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  padding: 5px;
  border-radius: 50%;
  color: white;
  box-shadow: 5px 5px transparent;
  transition: 0.3s all;
  margin-left: 15px;
}


svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root:hover {
  opacity: 1;
}

.MuiDataGrid-row:hover svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  opacity: 1;
}

.css-18lolh3-MuiDataGrid-root .MuiDataGrid-row:hover svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  box-shadow: 1px 1px #a6a6a6;
}

h2 {
  text-align: center;
}

.App {
  text-align: center;
  margin-top: 85px;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  max-width: 250px;
  margin: auto;
  margin-top: 75px;
  justify-content: center;
}


a {
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  border-radius: 5px;
  background-color: #5291e2;
  transition: 0.3s all;
  padding: 14px 12px;
  min-width: 250px;
  color: white;
  -webkit-font-smoothing: subpixel-antialiased;
}

a:hover {
  transform: translate(0, -5px);
  background-color: #436ea6;
  box-shadow: 0px 1px 5px #6092d2a1;
}

.modal-container{
  width: 500px;
  margin: auto;
  margin-top: 250px;
  background-color: white;
  padding: 25px;
  border-radius: 12px;
}
.form-container {
  display: flex;
  flex-direction: column;
}

.rows.MuiBox-root.css-0 {
  display: flex;
  max-width: 250px;
  margin: auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}

.book-detail-header.MuiBox-root.css-0 {
  flex: 1;
  text-align: left;
  font-weight: bold;
}

.book-detail-row.MuiBox-root.css-0 {
  flex: 1;
  text-align: left;
  color: #939393;
  font-weight: bold;
}

.edit-icon-container.MuiBox-root.css-0 > .MuiSvgIcon-root {
  display: block;
  opacity: 1;
  color: #070707;
  cursor: pointer;
  background: #f7f7f7;
  font-size: 18px!important;
  padding: 8px;
  box-shadow: 1px 1px 2px #b6b6b6;
}

.edit-icon-container.MuiBox-root.css-0 {
  max-width: 250px;
  margin: auto;
  text-align: right;
  justify-content: right;
  display: flex;
}

.book-container.MuiBox-root.css-0 {
  margin-top: 50px;
}

.MuiFormControl-root {
  margin-top: 25px!important;
}

.rows.MuiBox-root.css-0 {
  max-width: 550px;
}

.edit-icon-container.MuiBox-root.css-0 {
  max-width: 550px;
}
.btns-rows{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.add-btn{
  margin-left: 15px!important;
  float: right;
}

.submit-form {
  margin-top: 25px!important;
}